body{
	font-family: "Times New Roman",times,serif;
	font-weight: 200;
	font-style: normal;
	font-size: 1em;	
	background-color: #3786c0;
	//#85CEFF
	//#82C9F8
	//#87BDE7
}

.introductionContainer{
	margin: 20px 60px 20px 60px;
	background-color: #DFE2E1;
	padding: 20px;
}

.informaticsLogo{
	width: 130px;
	height: 130px;
	//float: left;
}

.headerTitle{
	display: flex;
	flex-direction: row;	
	//border: 1px solid yellow;
	margin-right: 150PX;
	margin-left: 30px;
}

h1{
	margin: auto;
	font-size: 2em;
	//border: 1px solid blue;

}

#infoTable{
	margin: 40px auto;
	border-collapse:collapse;
	width: 60%;
	//border: 1px solid blue;
}
#infoTable th{
	background-color:#87BDE7;
	color: #ECF0F1;
	height: 50px;
	//border: 1px solid blue;
}
#infoTable td{
	text-align: center;
	height: 50px;
	vertical-align: middle;
//	border: 1px solid blue;
}

#infoTable tr.custom td{
	background-color:#CCD3E7;
	color:#333;
}

#infoTable tr.classification th{
	text-align:center;
	background-color:#CCD3E7;
	color:brown;
	font-size: large;
	font-weight: 400;
}

.tips{
	width: 100px;
	background-color: #3786c0 ;
	position: fixed;
	left: 60px;
	top: 200px;
	text-align: center;
	//#D7E5EE
}
.cart{
	border: 2px dashed #87BDE7;
	border-radius: 2em;
	width: 220px;
	opacity: 0.5;
	background: url(../img/paper.jpg);
	//background-color: #87BDE7;
	position: fixed;
	right: 72px;
	text-align: center;
	top: 200px;
}

.cartList{
	list-style:decimal;
	text-align: left;
	line-height: 1.5em;
	color:#3786c0;
}

#errorMessage{
	color: red;
	font-size: 1em;
}
